# Рабочая тетрадь 2

#### Пример 1.2.1
Создать массив 5x2. Создать массив 5x2. Вывести все значения массива, значение элемента с индексом (3,1) и второй столбец. Индексация начинается с нуля.

In [1]:
import numpy as np

x = np.array([[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]])
print(x)
print(x[3][1])
print(x[1])

[[ 1  2]
 [ 3  4]
 [ 5  6]
 [ 7  8]
 [ 9 10]]
8
[3 4]

#### Пример 1.2.2

Пример. Выполнить следующее:
    1. Создать вектор (одномерный массив) размера 10, заполненный нулями.
    2. Создать вектор размера 10, заполненный единицами.
    3. Создать вектор размера 10, заполненный заданным числом.
    4. Создать вектор со значениями от 10 до 19.

In [2]:
a = np.zeros(10)
b = np.ones(10)
c = np.full(10, 5)
d = np.arange(10, 20)
print(a, "\n", b, "\n", c, "\n", d)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [5 5 5 5 5 5 5 5 5 5]
 [10 11 12 13 14 15 16 17 18 19]

#### Пример 1.2.3

Создать массив 10x10 со случайными значениями, найти минимум, максимум и среднее значение.

In [3]:
Z = np.random.random((10, 10))
Zmin, Zmax, Zmean = Z.min(), Z.max(), Z.mean()
print(Zmin, Zmax, Zmean)

0.0012418648967206236 0.9970626424727173 0.5149747894154484

#### Пример 1.2.4

Задать матрицу размерности 5 на 5 и поменять 2 строки в матрице местами.

In [4]:
A = np.arange(25).reshape(5, 5)
A[[0, 1]] = A[[1, 0]]
print(A)

[[ 5  6  7  8  9]
 [ 0  1  2  3  4]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]

#### Пример 1.2.5

Выяснить результат следующих выражений:
```
0 * np.nan
np.nan == np.nan
np.inf > np.nan
np.nan - np.nan
0.3 == 3 * 0.1
```

In [5]:
print(0 * np.nan)
print(np.nan == np.nan)
print(np.inf > np.nan)
print(np.nan - np.nan)
print(0.3 == 3 * 0.1)

nan
False
False
nan
False

#### Пример 1.2.6

Отсортировать массив.

In [6]:
arr = np.array([2, 1, 5, 3, 7, 4, 6, 8])
print(np.sort(arr))

[1 2 3 4 5 6 7 8]

#### Задача 1.3.1

Создать 8x8 матрицу и заполнить её в шахматном порядке нулями и единицами.

In [7]:
mat = np.zeros((8, 8))
mat[1::2, ::2] = 1
mat[::2, 1::2] = 1
mat

array([[0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.]])

#### Задача 1.3.2

Создать 5x5 матрицу со значениями в строках от 0 до 4. Для создания необходимо использовать функцию arrange.

In [8]:
mat = np.tile(np.arange(0, 5), (5,1))
mat

array([[0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4]])

#### Задача 1.3.3

Создать массив 3x3x3 со случайными значениями.

In [9]:
mat = np.random.random((3, 3, 3))
mat

array([[[0.76664804, 0.69790771, 0.6073751 ],
        [0.98863332, 0.05783321, 0.87358202],
        [0.37594402, 0.64223233, 0.42173366]],

       [[0.41617925, 0.31739368, 0.21081171],
        [0.36896802, 0.2509141 , 0.02501749],
        [0.85559357, 0.56217086, 0.29747852]],

       [[0.95079859, 0.66651391, 0.62539642],
        [0.44152881, 0.20823697, 0.23225699],
        [0.78474854, 0.45476151, 0.97670114]]])

#### Задача 1.3.4

Создать матрицу с 0 внутри, и 1 на границах.

In [10]:
mat = np.ones((5,5))
mat[1:4, 1:4] = 0
mat

array([[1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 1.],
       [1., 0., 0., 0., 1.],
       [1., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1.]])

#### Задача 1.3.5

Создайте массив и отсортируйте его по убыванию.

In [11]:
mat = np.random.random(5)
mat = sorted(mat)[::-1]
mat

[0.9903825825923622,
 0.8514416337676339,
 0.7788430498741296,
 0.5499731725093542,
 0.4011953901845581]

#### Задача 1.3.6

Создайте матрицу, выведите ее форму, размер и размерность.

In [12]:
mat = np.arange(25).reshape(5, 5)
print(mat.shape, mat.ndim, sep='\n')

(5, 5)
2

#### Пример 2.2.1

Создать Series из списка Python, словаря Python, и массива Numpy (установить буквенные метки для последнего).

In [13]:
import pandas as pd

lst = [1, 2, 3, 4, 5]
d = {'a': 1, 'b': 2, 'c': 3}
ndarr = np.array([1, 2, 3, 4, 5])
s1 = pd.Series(lst)
s2 = pd.Series(d)
s3 = pd.Series(ndarr, ['a', 'b', 'c', 'd', 'e'])
print(s1)
print(s2)
print(s3)

0    1
1    2
2    3
3    4
4    5
dtype: int64
a    1
b    2
c    3
dtype: int64
a    1
b    2
c    3
d    4
e    5
dtype: int64

#### Пример 2.2.2

Дано два Series. Напечатать их первые элементы и все элементы после третьего (во втором фрейме).

In [14]:
s1 = pd.Series([1, 2, 3, 4, 5], ['a', 'b', 'c', 'd', 'e'])
s2 = pd.Series([5, 4, 3, 2, 1])
print(s1['a'])
print(s2[0])
print(s2[3:])

1
5
3    2
4    1
dtype: int64

#### Пример 2.2.3

Создайте новый фрейм данных.

In [15]:
dataframe = pd.DataFrame()
dataframe['Имя'] = ['Джеки Джексон', 'Стивен Стивенсон']
dataframe['Возраст'] = [38, 25]
dataframe['Водитель'] = [True, False]
dataframe

                Имя  Возраст  Водитель
0     Джеки Джексон       38      True
1  Стивен Стивенсон       25     False

#### Пример 2.2.4

Загрузите фрейм данных по ссылке: <https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/titanic.csv>

In [16]:
!pip install fsspec

Requirement already satisfied: fsspec in /home/alexander/DataspellProjects/test_project/lib/python3.6/site-packages (2022.1.0)

In [17]:
# Создать URL-адрес
url = 'https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/titanic.csv'
# Загрузить данные
dataframe = pd.read_csv(url)
# Показать пять строк
dataframe.head(5)

,Name,PClass,Age,Sex,Survived,SexCode
0,"Allen, Miss Elisabeth Walton",1st,29.00,female,1,1
1,"Allison, Miss Helen Loraine",1st,2.00,female,0,1
2,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0,0
3,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0,1
4,"Allison, Master Hudson Trevor",1st,0.92,male,1,0

#### Пример 2.2.5

Пронализировать характеристики фрейма данных.

In [18]:
print(dataframe.head(2))
print(dataframe.tail(3))
print(dataframe.shape)
dataframe.describe()

                           Name PClass   Age     Sex  Survived  SexCode
0  Allen, Miss Elisabeth Walton    1st  29.0  female         1        1
1   Allison, Miss Helen Loraine    1st   2.0  female         0        1
                  Name PClass   Age   Sex  Survived  SexCode
1310  Zenni, Mr Philip    3rd  22.0  male         0        0
1311  Lievens, Mr Rene    3rd  24.0  male         0        0
1312    Zimmerman, Leo    3rd  29.0  male         0        0
(1313, 6)

              Age     Survived      SexCode
count  756.000000  1313.000000  1313.000000
mean    30.397989     0.342727     0.351866
std     14.259049     0.474802     0.477734
min      0.170000     0.000000     0.000000
25%     21.000000     0.000000     0.000000
50%     28.000000     0.000000     0.000000
75%     39.000000     1.000000     1.000000
max     71.000000     1.000000     1.000000

#### Пример 2.2.6

Выберите индивидуальные данные или срезы фрейма данных.

In [19]:
dataframe.iloc[1:4]

,Name,PClass,Age,Sex,Survived,SexCode
1,"Allison, Miss Helen Loraine",1st,2.0,female,0,1
2,"Allison, Mr Hudson Joshua Creighton",1st,30.0,male,0,0
3,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.0,female,0,1

#### Пример 2.2.7

Требуется отобрать строки фрейма данных на основе некоторого условия. Необходимо сформировать новый фрейм данных из пассажиров первого класса.

In [20]:
dataframe[dataframe['PClass'] == '1st'].head(2)

                           Name PClass   Age     Sex  Survived  SexCode
0  Allen, Miss Elisabeth Walton    1st  29.0  female         1        1
1   Allison, Miss Helen Loraine    1st   2.0  female         0        1

#### Задача 2.3.1

Найдитн евклидово расстояние между двумя Series (точками) a и b, не
используя встроенную формулу.

In [21]:
import math

x = pd.Series([5, 5, 4])
y = pd.Series([1, 3, 8])
print(math.sqrt(sum(pow((x - y), 2))))

6.0

#### Задача 2.3.2

Найдите в Интернете ссылку на любой csv файл и сформируйте из него
фрейм данных (например, коллекцию фреймов данных можно найти
здесь: <https://github.com/akmand/datasets>).

In [22]:
url = 'https://raw.githubusercontent.com/akmand/datasets/main/iris.csv'
df = pd.read_csv(url)

#### Задача 2.3.3

Проделайте с получившемся из предыдущего задания фреймом данных
те же действия, что и в примерах 2.2.5-2.2.7.

In [23]:
print(df.head(2))
print(df.tail(3))
print(df.shape)
df.describe()
df.iloc[1:4]
df[df['species'] == 'virginica'].head(2)

   sepal_length_cm  sepal_width_cm  petal_length_cm  petal_width_cm species
0              5.1             3.5              1.4             0.2  setosa
1              4.9             3.0              1.4             0.2  setosa
     sepal_length_cm  sepal_width_cm  petal_length_cm  petal_width_cm  \
147              6.5             3.0              5.2             2.0
148              6.2             3.4              5.4             2.3
149              5.9             3.0              5.1             1.8

       species
147  virginica
148  virginica
149  virginica
(150, 5)

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,species
100,6.3,3.3,6.0,2.5,virginica
101,5.8,2.7,5.1,1.9,virginica

#### Пример 3.2.1

Прошкалируйте числовой признак в диапазон между двумя значениями.

In [24]:
# Загрузить библиотеки
import numpy as np
from sklearn import preprocessing

# Создать признак
feature = np.array([[-500.5], [-100.1], [0], [100.1], [900.9]])
# # Создать шкалировщик
minmax_scale = preprocessing.MinMaxScaler(feature_range=(0, 1))
# Прошкалировать признак
scaled_feature = minmax_scale.fit_transform(feature)
#Показать прошкалированный признак
scaled_feature

array([[0.        ],
       [0.28571429],
       [0.35714286],
       [0.42857143],
       [1.        ]])

#### Пример 3.2.2

Преобразуйте признак, чтобы он имел среднее значение 0 и стандартное отклонение 1.

In [25]:
x = np.array([[-1000.1], [-200.2], [500.5], [600.6], [9000.9]])
# Создать шкалировщик
scaler = preprocessing.StandardScaler()
# Преобразовать признак
standardized = scaler.fit_transform(x)
# Показать признак
standardized

array([[-0.76058269],
       [-0.54177196],
       [-0.35009716],
       [-0.32271504],
       [ 1.97516685]])

In [26]:
print("Среднее:", round(standardized.mean()))
print("Стандартное отклонение:", standardized.std())

Среднее: 0
Стандартное отклонение: 1.0

#### Пример 3.2.3

Дан фрейм данных
```
dfTest = pd.DataFrame({'A':[14.00,90.20,90.95,96.27,91.21],
                           'B':[103.02,107.26,110.35,114.23,114.68],
                           'C':['big','small','big','small','small']})
```
Необходимо масштабировать его числовые столбцы.

In [27]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
dfTest = pd.DataFrame({'A': [14.00, 90.20, 90.95, 96.27, 91.21],
                       'B': [103.02, 107.26, 110.35, 114.23, 114.68],
                       'C': ['big', 'small', 'big', 'small', 'small']})
dfTest[['A', 'B']] = scaler.fit_transform(dfTest[['A', 'B']])
dfTest

          A         B      C
0  0.000000  0.000000    big
1  0.926219  0.363636  small
2  0.935335  0.628645    big
3  1.000000  0.961407  small
4  0.938495  1.000000  small

#### Задача 3.3.2

Загрузить фрейм данных по ссылке:
https://raw.githubusercontent.com/akmand/datasets/master/iris.csv.
Необходимо выполнить нормализацию первого числового признака
(sepal_length_cm) с использованием минимаксного преобразования, а
второго (sepal_width_cm) с задействованием z-масштабирования.

In [28]:
url = 'https://raw.githubusercontent.com/akmand/datasets/master/iris.csv'
df = pd.read_csv(url)
scaler = preprocessing.MinMaxScaler(feature_range=(0, 1))
df['sepal_length_cm'] = scaler.fit_transform(df['sepal_length_cm'].to_numpy().reshape(-1, 1))
scaler = preprocessing.StandardScaler()
df['sepal_width_cm'] = scaler.fit_transform(df['sepal_width_cm'].to_numpy().reshape(-1, 1))
df.head(5)

   sepal_length_cm  sepal_width_cm  petal_length_cm  petal_width_cm species
0         0.222222        1.032057              1.4             0.2  setosa
1         0.166667       -0.124958              1.4             0.2  setosa
2         0.111111        0.337848              1.3             0.2  setosa
3         0.083333        0.106445              1.5             0.2  setosa
4         0.194444        1.263460              1.4             0.2  setosa